/* FONTLARIM **/
@import url('https://fonts.googleapis.com/css?family=Manrope|Quicksand&display=swap');
/* GENEL AYARLAR **/
:root {
    --font-family-manrope:'Manrope', sans-serif;
    --font-family-quicksand:'Quicksand', sans-serif;
    --yellow:#d4cf7ee6;
    --dark-grey:#3c3c3c;
    --blue:#20949c;
    --dark-blue:#416492;
    --red:#ee5b5b;
    --white:#fff;
    --secondary-white:#d3d1d1;
    --light-grey:#f3ecec55;
    --black:#000000;
    --grey:#494545e6;
    
}

.navbar-nav .secili > a {
    color:var(--white) !important;

}

/* MENU CUBUGU  **/
.bg-dark {
    background-color:var(--yellow) !important;  
}
.navbar .navbar-brand {
    font-size:28px;
    font-family:var(--font-family-manrope);
    color:var(--dark-grey);
}
.nav-link {
    color:var(--dark-grey) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--font-family-manrope);
}
.nav-link:hover{
    color:var(--white) !important;
}
.nav-item {
    padding-right: 8px !important;
}


/* HAKKIMDA ALANI **/
.image-kevser {
    height: 145px;
    width: 185px;
}
.imgkevser {
    margin-left: 15px;
    
}
#hakkimdaSection {
    padding-top: 50px;
    margin-top: 67px;
    margin-bottom:67px;
    background-color: var(--light-grey);
} 
.hakkimda {
    padding:20px;
}
.hakkimdaicerik {
    display:flex;
    padding-top: 20px;
}
.hakkimdaicerikyazisi{
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
}
.metin{
    font-size: 16px;
    text-align: justify;
    font-weight:700;
    color:var(--grey);
    font-family: var(--font-family-quicksand);
   
}
.hbaslik{
    display: inline-block;
    color:var(--white);
    text-transform: uppercase;
    background-color:var(--blue);
    padding:8px 10px;
    border-radius: 3px;
    letter-spacing: 2px;
    font-family: var(--font-family-manrope);
}
.hakkimdaicerikyazisi .metinbaslik {
    text-align: left;
    font-size: 20px;   
    font-weight: 600;
    font-family: var(--font-family-quicksand);
}
a:link{
    text-decoration:none ;
    color: var(--black) !important;
}
a:hover {
    color:var(--red);
}
.altmetin {
    padding-top:10px;
    padding-left:18px;
    padding-right: 15px;
}
.resimlink {
    background-color:var(--dark-blue);
    color:var(--white);
    padding:10px;
    border-radius: 10px;
}

/** RESİM ALANI */
.etkinlikimage {
     height: 400px;
     width: 300px;
     padding: 30px;
}


/** ÖZGEÇMİŞ ALANI */
#ozgecmisSection {
    margin-top: 67px;
    margin-bottom:67px;
    background-color: var(--light-grey);
}
.cvbaslik {
    display:inline-block; 
    padding-left:10px;
    color:var(--red);
    text-transform: uppercase;
    font-family:var(--font-family-quicksand);
}
.fa {
    color:var(--red);
}
.cv{
    padding: 30px 40px 10px 20px ;
    border-bottom: .5px solid var(--secondary-white);
}

.fa-renk{
    color:var(--blue);
}
#cv-bilgi td{
    padding: 6px 6px 6px 1px;
    font-size: 16px;
    text-align: justify;
    font-weight:700;
    color:var(--grey);
    font-family: var(--font-family-quicksand);

}
td:nth-child(3) {
    padding-left:20px !important;
}
#metin-id {
    display: inline;
    padding-left: 1.5px;
}
.tarih {
    color:var(--red) !important;
}

/** FOOTER ALANI */
#footerid {
    background-color:var(--yellow) ;
    height: 50px;
    margin-top: 10px;

}
.footermetin {
    color:var(--dark-grey);
    font-family: var(--font-family-manrope);
    font-weight: 600;
    padding-top: 10px;
}


/** SLIDE ALANI */
#slideSection {
    background-color: var(--light-grey);
}

#slideSection .container-fluid {
    padding-top: 28px !important;
}
.slider{
	max-width:1050px;
	border:5px solid  var(--blue);
	margin:67px auto;
	position: relative;
	overflow: hidden;
}
.slider .left-slide,.slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color:var(--blue);
    border-radius: 50%;
    color: var(--white);
    font-size: 28px;
    top:50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px; 
  }

  .slider .left-slide:hover,.slider .right-slide:hover{
    box-shadow: 0px 0px 20px var(--red);
    background-color:var(--blue);
   }

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

.slider .slider-items .item{
	display: none;
	position: relative;
}

.slider .slider-items .item.active{
	display: block;
}

